:root
{
    --primary: #07AB80;
    --light: #EEEEEE;
}

.bg-primary
{
    background-color: var(--primary) !important;
}

.bg-light
{
    background-color: var(--light) !important;
}

.text-primary
{
    color: var(--primary) !important;
}

p
{
    margin: 0px;
}

#hero
{
    height: 100vh;
    /* TODO add an image */
    /* background-image: url(); */
    background-color: lightgray;
    background-size: cover;
}

#hero *[class*="row"], #hero *[class*="container"]
{
    height: inherit;
}

.hero-form
{
    height: 75%;
}

.hero-form-card
{
    background-color: rgba(240, 240, 240, 0.6);
    backdrop-filter: blur(15px);
}

#hero form
{
    height: 80%;
}

.form-heading
{
    color: rgba(80, 80, 80, 0.7);
}

input
{
    margin: 0.4em 0em;
}

.hero-text-bar
{
    width: 3vw;
    height: 80%;
    background-color: var(--primary);
}

.hero-text
{

}

#contact
{
    min-height: 40vh;
}

.contact-info
{
    top: 10vh;
    min-height: 35vh;
}

.contact-info span
{
    font-size: 1.25em;
}

#about
{
    min-height: 40vh;
}

.about-text
{
    
}

#quotes div[class*="quote"]
{
    filter: drop-shadow(2px 2px 5px rgba(32, 32, 32, 0.3));
    background-color: white;
    font-size: 1.1em;
}

.quote-big
{
    height: 40vh;
}

.quote-small
{
    height: 32vh;
}

@media only screen and (max-width: 768px)
{
    .contact-info
    {
        top: 0vh;
    }
}

#contact a
{
    text-decoration: none;
}

#contact a:hover
{
    cursor: default;
}