:root
{
    --primary: #2d0d47;
    --primary-light: #7210c2;
    --light: #EEEEEE;
}

.bg-primary
{
    background-color: var(--primary) !important;
}


.btn-primary
{
    background-color: var(--primary) !important;
    border: 0px solid rgba(0, 0, 0, 0);
}

.btn-primary:hover
{
    background-color: var(--primary-light) !important;
    border: 0px solid rgba(0, 0, 0, 0);
}

.bg-light
{
    background-color: var(--light) !important;
}

.text-primary
{
    color: var(--primary) !important;
}

p
{
    margin: 0px;
}

header .text-light *, header .text-light *:hover
{
    color: var(--bs-light);
    text-decoration: none;
}

nav button
{
    border: 2px solid var(--bs-light);
}

#hero
{
    height: 100vh;
    /* original image at https://unsplash.com/photos/rTZW4f02zY8 */
    background-image: url("./images/nasa-rTZW4f02zY8-unsplash.jpg");
    background-size: cover;

    background-position: center;
}

#hero *[class*="row"], #hero *[class*="container"]
{
    height: inherit;
}

.hero-form
{
    height: 90%;
}

.hero-form-card
{
    background-color: rgba(226, 243, 219, 0.1);
    backdrop-filter: blur(4px);
}

.form-heading
{
    color: rgba(180, 180, 180, 0.8);
}

input, textarea
{
    margin: 0.4em 0em;
    border-radius: 5px;
    border: 2px solid rgba(40, 40, 40, 0.5);
}

textarea
{
    resize: none;
}

.hero-text-bar
{
    width: 5px;
    height: 7vh;
    background-color: var(--primary);
}

.hero-text-card
{
    background-color: #2d0d4760;
    backdrop-filter: blur(4px);
}

#contact
{
    min-height: 40vh;
}

.contact-info
{
    top: 10vh;
    min-height: 35vh;
}

.contact-info span
{
    font-size: 1.25em;
}

#about
{
    min-height: 40vh;
}

#about img
{
    
}

#about a
{
    color: var(--primary);
}

a:hover
{
    color: var(--primary-light);
}

#quotes div[class*="quote"]
{
    filter: drop-shadow(2px 2px 5px rgba(32, 32, 32, 0.3));
    background-color: white;
    font-size: 1.2em;
}

.quote-big
{
    height: 40vh;
}

.quote-small
{
    height: 32vh;
}

.quote-name
{
    font-style: italic;
}

.custom-header-font
{
    font-family: 'Bebas Neue', cursive;
}

.p, span, h1, h2, h3, h4, h5, h6, input, textarea
{
    font-family: 'Heebo', sans-serif;
}

header i, header a>span, header ul
{
    position: relative;
    animation-name: sunglasses;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
}

header>*
{
    animation-name: sunglasses;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
}

@keyframes sunglasses
{
    from
    {
        top: -100px;
    }
    
    to
    {
        top: 0px;
    }
}

@media only screen and (max-width: 768px)
{
    .contact-info
    {
        top: 0vh;
    }
    
    header ul
    {
        animation: none;
    }

}